$bgcColor: #00684e;
$borderColor: #588469;
$limeGreen: #4cbb17;
$white: #fff;
// @import "../../assets/styles/colors.scss";

.page-title {
  background-color: $bgcColor;
  color: #fff;
  font-size: 160%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 12px 0 8px;
  height: 50px;
}

.time-table {
  width: 100%;
  height: 100%;
  background-color: $bgcColor;
}

.table {
  width: 100%;
  border: none;

  .row {
    background-color: $bgcColor;
    height: 42px;
  }

  .cell {
    color: $white;
    border: 0.5px solid $borderColor;
    border-collapse: collapse;

    &.active {
      border-color: $white;
      border-left-width: 2px;
      border-right-width: 2px;
      background-color: $limeGreen;
      font-weight: 600;
    }

    &:first-child {
      padding-left: 2rem;
    }

    &:last-child {
      padding-right: 2rem;
    }
  }

  &-head {
    .row .cell {
      font-size: 140%;
      text-align: center;
    }
  }

  &-body {
    .name {
      text-transform: capitalize;
    }

    .row .cell {
      font-size: 130%;
      text-align: center;
    }
  }
}

.time {
  width: 150px;
}

.job {
  width: 180px;
}
